body {
    max-width: 1428px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_sb, .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

                                /* start header */
.header {
    height: 900px;
    background-color: #CDCDCC;
    padding: 35px 140px 0 140px;
    position: relative;
    overflow: hidden;
}

.header_nav {
    max-width: 1160px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background-color: #13468C;
    align-self: center;
    padding: 0 20px;
}

.nav_logo,
.nav_user {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: 135px;
}

.nav_logo img {
    width: 45;
    height: 45px;
}

.nav_logo p {
    font-size: 27px;
    color: #E7CA83;
}

.nav_menu ol {
    width: 570px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
}

.nav_menu li {
    cursor: pointer;
}

.nav_user img {
    width: 25px;
    height: 25px;
}

.nav_user {
    column-gap: 26px;
}

.nav_user div {
    column-gap: 10px;
}

.nav_user button {
    background-color: #13468C;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    color: white;
}

.nav_user button img {
    width: 40px;
    height: 40px;
}

.bg_img {
    width: 1225px;
    height: 730px;
    background-image: url(../image/HeaderImage.png);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.header_content {
    position: absolute;
    z-index: 1;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.header_content h2 {
    margin: 0;
    font-size: 48px;
}

.header_content h3 {
    margin: 0;
    font-size: 18px;
}

.header_content button {
    width: 190px;
    height: 56px;
    background-color: #13468C;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

                                /* header end */
                                /* start content */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    margin: 120px 0;
    background-color: #FFFFFF;
}
.content_1, .content_2, .content_5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
}
.content_1 h2 {
    font-size: 48px;
    margin: 0;
}
.content_1 h3 {
    font-size: 18px;
    margin: 0;
}
.content_1 button {
    width: 187px;
    height: 56px;
    background-color: #13468C;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}
.column_25, .column_30 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.column_30 {
    row-gap: 30px;
    position: relative;
    width: 900px;
    height: 600px;
    left: 145px;
    overflow-x: hidden;
}
.absolute {
    position: absolute;
}
.corusel {
    display: flex;
    column-gap: 30px;
}
.corusel h2 {
    font-size: 22px;
    margin: 0;
}
.corusel h3 {
    font-size: 18px;
    margin: 0;
}
.cart_img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_text {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
}
.corusel_nav {
    position: absolute;
    right: 110px;
    bottom: 0;
    display: flex;
    column-gap: 15px;
}
.corusel_nav button {
    width: 55px;
    height: 55px;
    background-color: white;
}
.to_left {
    background-image: url(../image/arrow-right.png);
    rotate: 180deg;
}
.to_right {
    background-image: url(../image/arrow-right.png);
}
.content_2_content, .content_4_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.content_2 h2 {
    font-size: 30px;
    margin: 0;
}
.content_2 h3 {
    margin: 0;
    font-size: 18px;
}
.reverse {
    flex-direction: row-reverse;
}
.content_3 {
    /* overflow: hidden; */
    position: relative;
}
.content_3 image {
    position: absolute;
    z-index: 1;
}
.content_3_content {
    position: absolute;
    z-index: 2;
    width: 460px;
    height: 600px;
    background-color: white;
    top: 60px;
    left: 140px;
    padding: 40px 30px 40px 70px;
    box-sizing: border-box;
}
.content_3_content h2 {
    font-size: 22px;
    color: #13468C;
    line-height: 30px;
}
.content_3_content h3 {
    font-size: 18px;
    line-height: 26px;
}
.content_3_content button, .content_4_content button, .content_5 button {
    font-size: 16px;
    width: 165px;
    height: 56px;
    background-color: #13468C;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}
.content_4_content {
    align-items: flex-start;
}
.content_4_content h2 {
    font-size: 48px;
    line-height: 70px;
}
.content_4_content h3 {
    font-size: 18px;
    line-height: 30px;
}
.content_4_content button {
    width: 230px;
}
.content_5 {
    display: flex;
    background-color: #E4DED5;
}
.content_5 div {
    box-sizing: border-box;
    padding: 55px;
}
.content_5 h2 {
    margin: 0;
    font-size: 30px;
    line-height: 45px;
}
.content_5 button {
    width: 215px;
    margin-top: 30px;
}
                                /* animation start */
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
}
.counter_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 140px;
    height: 170px;
}
.counter_content img {
    width: 37px;
    height: 37px;
}
.counter_content h2 {
    font-size: 30px;
    margin: 0;
    color: #13468C;
}
.number,
.number_31,
.number_27,
.number_02,
.number_62,
.number_25,
.number_44 {
    margin: 0;
    font-size: 48px;
    color: #13468C;
    position: relative;
    width: 1em; height: 1em;
}
.number_31::before,
.number_31::after,
.number_27::before,
.number_27::after,
.number_02::before,
.number_02::after,
.number_62::before,
.number_62::after,
.number_25::before,
.number_25::after,
.number_44::before, 
.number_44::after { 
    display: inline-block;  
    width: .5em;  
    overflow: hidden;  
    animation: timing 20s 1 step-end;
}
.number_31::before {
    content: '375247233';
}
.number_31::after {
    content: '124133441';
}
.number_27::before {
    content: '273687232';
}
.number_27::after {
    content: '724131847';
}
.number_02::before{
    content: '079467230';
}
.number_02::after{
    content: '224139042';
}
.number_62::before {
    content: '679431736';
}
.number_62::after {
    content: '224645242';
}
.number_25::before {
    content: '279431732';
}
.number_25::after {
    content: '573687235';
}
.number_44::before {
    content: '424131844';
}
.number_44::after {
    content: '479431734';
}
@keyframes timing {
  0.3%{text-indent: -.5em;}
  0.6%{text-indent: -1em;}
  0.9%{text-indent: -1.5em;}
  1.2%{text-indent: -2em;}
  1.5%{text-indent: -2.5em;}
  1.8%{text-indent: -3em;}
  2.1%{text-indent: -3.5em;}
  2.4%{text-indent: -4em;}
}
.flex {
    justify-content: left;
    font-size: 48px;
    color: #13468C;
    text-align: center;
}
                                /* animation end */
                                /* content end */
                                /* footer start */
.footer {
    display: flex;
    padding: 60px 140px;
    border-radius: 10px;
    justify-content: space-between;
    column-gap: 150px;
    background-color: blue;
}
.footer li {
    list-style: none;
}
.footer ul {
    padding: 0;
}
.footer h5 {
    font-size: 14px;
    color: white;
}
.footer p {
    font-size: 22px;
}
.footer h2 {
    font-size: 16px;
    color: white;
}
.flex_sa {
    justify-content: space-between;
    align-items: flex-start;
}
.footer form {
    border-radius: 4px;
    background-color: white;
    height: 45px;
}
                                /* footer end */