* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 850px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF6523;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.on_display {
    left: 0;
    transition: 1s;
}

.display_none {
    display: none !important;
}

.not_on_display {
    left: -100%;
}

.active_link {
    color: #FF6523;
}

.blure {
    filter: blur(4px);
}


/* ///////////////Common Style\\\\\\\\\\\\\\\ */

.climatica {
    display: flex;
    width: 100%;
    max-width: 2000px;
}

.header {
    width: 295px;
    background-color: black;
    color: white;
    padding: 0 55px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100px;
}

.footer {
    min-width: 650px;
    height: 240px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 30px 0;
}

#Home,
#Catalog,
#Sales_product_list,
#New_product_list,
#News,
#News_article,
#Payment_delivery,
#Contakts,
#About_company,
#Partners,
#Search,
#Search_not_found,
#FAQ,
#Size_table,
#Size_table_without_women,
#Thank_you_page,
#Error_404 {
    position: absolute;
    min-height: 1000px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
    margin-left: 120px;
    padding-top: 70px;
}

.page_name {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ///////////////Header\\\\\\\\\\\\\\\ */

.flex_col_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex_sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0;
}

.logo img {
    cursor: pointer;
}

.logo h6 {
    font-size: 11px;
    opacity: 40%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.search {
    display: flex;
    position: relative;
    width: 185px;
    height: 38px;
}

.search input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    opacity: 40%;
}

.search img {
    width: 14px;
    right: 20px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.pos_rel_right8 {
    position: relative;
    right: 8px;
    bottom: 6px;
}

.pos_rel_right8 img {
    position: absolute;
}

.active_img {
    z-index: 2;
}

.nav {
    width: 100%;
    margin-top: 50px;
}

.nav img {
    cursor: pointer;
}

.nav ul {
    row-gap: 20px;
}

.nav h2 {
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

.contakts {
    width: 100%;
    margin: 80px 0 65px 0;
}

.phones ul {
    row-gap: 10px;
}

.phones li {
    color: #FF6523;
    cursor: pointer;
}

.messengers {
    margin-top: 40px;
}

.messengers ul {
    row-gap: 15px;
}

.messengers li {
    display: flex;
    column-gap: 15px;
    align-items: center;
    cursor: pointer;
}

.messengers h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.cize_table_button {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #FF6523;
    background-color: black;
    color: white;
    font-size: 14px;
    margin-bottom: 110px;
    cursor: pointer;
}

/* ///////////////Footer\\\\\\\\\\\\\\\ */

.w_100 {
    width: 100%;
    row-gap: 10px;
}

.w_80 {
    width: 80%;
    align-items: start;
}

.w_80 h2,
.w_80 h5 {
    cursor: pointer;
    width: fit-content;
}

.w_80 h6 {
    text-align: end;
    font-size: 12px;
    font-weight: 400;
    opacity: 40%;
}

.w_80 h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.w_80 h5 {
    font-size: 14px;
    font-weight: 300;
}

.w_80 ul {
    row-gap: 15px;
}

.no_gap {
    row-gap: 0 !important;
}

/* ///////////////Content\\\\\\\\\\\\\\\ */

.pos_rel {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ///////////////Open_menu\\\\\\\\\\\\\\\ */

#Open_menu_catalog,
#Open_menu_seazon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 85%;
    box-sizing: border-box;
    color: white;
    z-index: 99;
}

.gap_30 {
    row-gap: 30px;
    margin: 138px 0 0 193px;
}

.gap_30 h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.flex_col_sb {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap_20 {
    row-gap: 20px;
}

.gap_20 h3 {
    font-size: 18px;
    font-weight: 300px;
    opacity: 40%;
    cursor: pointer;
    width: fit-content;
}

/* ///////////////Catalog\\\\\\\\\\\\\\\ */
/* ///////////////Catalog Nav\\\\\\\\\\\\\\\ */

.catalog_nav {
    margin-top: 15px;
    padding-right: 45px;
}

.catalog_nav h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog_nav h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog_nav h5 {
    font-size: 18px;
    font-weight: 300;
}

.catalog_nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}

.with_checkbox li {
    display: flex;
    column-gap: 25px;
    align-items: center;
    width: 190px;
    flex-wrap: nowrap;
}

.with_checkbox input {
    width: 20px;
    height: 20px;
}

.with_dropdown {
    margin-left: 45px;
}

.see_more_size_dropduwn li {
    width: 35px;
}

.with_dropdown input {
    width: 16px;
    height: 16px;
}

.with_dropdown ul {
    row-gap: 10px;
}

.with_dropdown button {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.rotate_img {
    rotate: 180deg;
}

.see_more_li {
    cursor: pointer;
}

.pos_rel_ovh {
    position: relative;
    overflow: hidden;
}

.dropdown_menu {
    position: absolute;
    bottom: 50%;
}

.pos_init {
    position: initial !important;
}

.see_more_size_dropduwn {
    flex-direction: row !important;
    justify-content: start !important;
    flex-wrap: wrap;
    column-gap: 30px;
}

.see_more_size_dropduwn li {
    column-gap: 10px;
}

/* ///////////////Catalog Products\\\\\\\\\\\\\\\ */

.catalog_products {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    column-gap: 30px;
    row-gap: 30px;
}

.product_card {
    width: 295px;
    border: 1px solid lightgray;
    height: 520px;
    /* overflow: hidden; */
}

.product_img_section {
    position: relative;
}

.new_img,
.sales_img {
    position: absolute;
    right: 15px;
    top: 15px;
}

.sales_img {
    top: 65px
}

.product_description_section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    height: 200px;
}

.product_name_section,
.product_color_section,
.product_season_section,
.product_size_section,
.product_price_section {
    display: flex;
    margin: 0 20px;
    box-sizing: border-box;
}

.product_name_section {
    height: 32px;
}

.product_price_section {
    margin: 0;
    margin-top: 20px;
}

.product_name_section {
    justify-content: space-between;
}

.product_name {
    font-size: 14px;
    font-weight: 700;
}

.product_article {
    font-size: 10px;
    font-weight: 400;
    opacity: 50%;
}

.color_text,
.season_text,
.size_text {
    font-size: 12px;
    font-weight: 300;
    opacity: 80%;
    width: 50px;
}

.product_color,
.product_season,
.product_size {
    font-size: 14px;
    font-weight: 400;
}

.product_price_max_section,
.product_price_min_section {
    width: 50%;
    display: flex;
    height: 65px;
    border-top: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.product_price_max_section {
    border-right: 1px solid lightgray;
}

.price_max_text,
.price_min_text {
    font-style: 12px;
    font-weight: 300;
    opacity: 80%;
}

.product_price_max {
    font-style: 18px;
    font-weight: 400;
    opacity: 50%;
}

.product_price_min {
    font-style: 18px;
    font-weight: 700;
}

.specify_price_button {
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid lightgrey;
    color: #FF6523;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}




/* ////////////////Sales Card//////////////////// */
#Sales_product_list,
#New_product_list,
#Target1,
#Target2,
#Target3,
#Target4,
#Target5,
#News_page_content {
    flex-wrap: wrap;
    row-gap: 30px;
}

#Target1,
#Target2,
#Target3,
#Target4,
#Target5,
#News_page_content {
    margin: 15px 0;
    display: flex;
    column-gap: 30px;
}


/* ////////////////news page//////////////////// */

.news_item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 295px;
}

.news_item h2 {
    font-style: 18px;
    font-weight: 700;
}

.news_item h3 {
    font-style: 14px;
    font-weight: 300;
}

#News button {
    width: 230px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FF6523;
    background-color: white;
    margin-top: 70px;
    align-self: center;
}


/* ////////////////self news page//////////////////// */

#News_article {
    flex-direction: column;
}

.last_news_section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 50px;
}

.signature {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.signature h2 {
    font-style: 36px;
    font-weight: 700;
}

.signature button {
    width: 165px;
    height: 45px;
    border: 1px solid #FF6523;
    font-style: 14px;
    font-weight: 600;
}

#news_target {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.self_news {
    display: flex;
    justify-content: space-between;
}

.info_news,
.self_news_img {
    width: 50%;
}

.self_news_name {
    font-size: 36px;
    font-weight: 700px;
    width: 90%;
    word-wrap: normal;
    margin: 50px 0;
}

.self_news_description {
    font-style: 14px;
    font-weight: 400px;
}

.self_news_img img {
    width: -webkit-fill-available;
    position: relative;
    top: -70px;
}


/* /////////////// Home page /////////////// */
#Home {
    flex-direction: column;
    row-gap: 120px;
    margin: 0;
}

#Home section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
    margin-left: 120px;
}

.h3_target4,
.h3_target5,
.h3_news_target {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.info_section {
    display: flex;
    width: 100%;
    margin: 0 !important;
    flex-direction: row !important;
}

.home_info {
    display: flex;
    box-sizing: border-box;
    margin: 50px;
}

.home_info h3 {
    font-style: 24px;
    font-weight: 700;
}
.home_info h4 {
    font-style: 14px;
    font-weight: 300;
    margin: 15px 0 30px 0;
}
.home_info_img {
    align-self: flex-end;
}
.home_info_img img{
    position: relative;
    bottom: 22px;
}
.home_info button {
    width: 165px;
    height: 50px;
    border: none;
    background-color: #FF6523;
    color: white;
    font-style: 16px;
    font-weight: 600;
}






















/* ////////////////news page//////////////////// */