* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 850px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF6523;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.on_display {
    left: 0;
    transition: 1s;
}
.display_none {
    display: none;
}
.not_on_display {
   left: -100%;
}
.active_link {
    color: #FF6523;
}
.blure {
    filter: blur(4px);
}


/* ///////////////Common Style\\\\\\\\\\\\\\\ */

.climatica {
    display: flex;
}

.header {
    width: 295px;
    background-color: black;
    color: white;
    padding: 0 55px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.footer {
    min-width: 650px;
    height: 240px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 30px 0;
}

/* ///////////////Header\\\\\\\\\\\\\\\ */

.flex_col_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0;
}

.logo img {
    cursor: pointer;
}

.logo h6 {
    font-size: 11px;
    opacity: 40%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.search {
    display: flex;
    position: relative;
    width: 185px;
    height: 38px;
}

.search input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    opacity: 40%;
}

.search img {
    width: 14px;
    right: 20px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}
.pos_rel_right8 {
    position: relative;
    right: 8px;
    bottom: 6px;
}
.pos_rel_right8 img {
    position: absolute;
}
.active_img {
    z-index: 2;
}
.nav {
    width: 100%;
    margin-top: 50px;
}

.nav img {
    cursor: pointer;
}

.nav ul {
    row-gap: 20px;
}

.nav h2 {
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

.contakts {
    width: 100%;
    margin: 80px 0 65px 0;
}

.phones ul {
    row-gap: 10px;
}

.phones li {
    color: #FF6523;
    cursor: pointer;
}

.messengers {
    margin-top: 40px;
}

.messengers ul {
    row-gap: 15px;
}

.messengers li {
    display: flex;
    column-gap: 15px;
    align-items: center;
    cursor: pointer;
}

.messengers h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.cize_table_button {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #FF6523;
    background-color: black;
    color: white;
    font-size: 14px;
    margin-bottom: 110px;
    cursor: pointer;
}

/* ///////////////Footer\\\\\\\\\\\\\\\ */

.w_100 {
    width: 100%;
    row-gap: 10px;
}

.w_80 {
    width: 80%;
    align-items: start;
}

.w_80 h2, .w_80 h5{
    cursor: pointer;
    width: fit-content;
}

.w_80 h6 {
    text-align: end;
    font-size: 12px;
    font-weight: 400;
    opacity: 40%;
}

.w_80 h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.w_80 h5 {
    font-size: 14px;
    font-weight: 300;
}

.w_80 ul {
    row-gap: 15px;
}

.no_gap {
    row-gap: 0 !important;
}

/* ///////////////Content\\\\\\\\\\\\\\\ */

.pos_rel {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ///////////////Open_menu\\\\\\\\\\\\\\\ */

#Open_menu_catalog, #Open_menu_seazon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 85%;
    box-sizing: border-box;  
    color: white;

}
.gap_30 {
    row-gap: 30px;
    margin: 138px 0 0 193px;  
}
.gap_30 h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.flex_col_sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gap_20 {
    row-gap: 20px;
}
.gap_20 h3 {
    font-size: 18px;
    font-weight: 300px;
    opacity: 40%;
    cursor: pointer;
    width: fit-content;
}

/* ///////////////Catalog\\\\\\\\\\\\\\\ */

#Catalog {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    column-gap: 30px;
}
.catalog_nav {
    width: 400px;
    padding: 70px 45px 0 110px;
}
.catalog_nav h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog_nav h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog_nav h5 {
    font-size: 18px;
    font-weight: 300;
}
.catalog_nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}
.with_checkbox li {
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.with_checkbox input {
    width: 20px;
    height: 20px;
}
.with_dropdown {
    margin-left: 45px;
}
.with_dropdown input {
    width: 16px;
    height: 16px;
}
.with_dropdown ul {
    row-gap: 10px;
}
.with_dropdown button {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}
.rotate_img {
    rotate: 180deg;
}
.see_more_li {
    cursor: pointer;
}
.pos_rel_ovh {
    position: relative;
    overflow: hidden;
}
.dropdown_menu {
    position: absolute;
    bottom: 50%;
}
.pos_init {
    position: initial !important;
}
.see_more_size_dropduwn {
    flex-direction: row !important;
    justify-content: start !important;
    flex-wrap: wrap;
    column-gap: 30px;
}
.see_more_size_dropduwn li {
    column-gap: 10px;
}

























#Home {
    position: absolute;
}

/* ///////////////Syte Grid System\\\\\\\\\\\\\\\ */